.header {
    background-color: var(--gray-700);
    padding: 5.125rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}
.headerLogo {
    width: 1.375rem;
    height: 2.25rem;
}
.headerTitle {
    font-size: 2.5rem;
    color: var(--blue-200);
    font-weight: bold;
}
.headerTitle > span {
    color: var(--purple-400);
}