.header {
    background-color: var(--white-200);
    padding: 5.125rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}
.headerLogo {
    width: 5rem;
    height: 5rem;
}
.headerTitle {
    font-size: 2.5rem;
    color: var(--pink-200);
    font-weight: bold;
}
.headerTitle > span {
    color: var(--purple-400);
}